@{
    ViewData["Title"] = "Auth Page";
}

<section class="u-clearfix u-section-1" id="sec-ab9a">
    <div class="u-clearfix u-sheet u-sheet-1">
        <a href="/Account/Login" class="u-align-center u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-text-hover-white u-btn-1">Войти</a>
        <a href="/Account/Register" class="u-align-center u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-text-hover-white u-btn-2">регистрация</a>
    </div>
</section>